input {
  outline: none;
}

.myInput {
  width: 100%;
  border-radius: 13px;
  padding: 10px 20px;
  margin: 5px 0;
  /* border: 1px solid rgba(116, 15, 119, 0.288); */

  border: none;

  box-shadow: 3px 0px 4px rgba(97, 88, 97, 0.315);

  font-size: 18px;
}
